<template>
    <div class="container">
        <button v-on:click="showData">Show Data</button>
        <li v-for="(item, index) in items" :key="index">
            <p> {{ index }} - {{ item.productName }}</p>
        </li>
    </div>
</template>

<script>
export default {
    data() {
        return {
            items: []
        };
    },
    methods: {
        showData: function() {
            axios
                .get("/showAll")
                .then(res => {
                    this.items = res.data;
                    console.log(this.items);
                })
                .catch(err => {
                    console.error(err);
                });
        }
    },
    mounted() {
        console.log("you win");
    }
};
</script>

<style>
li {
    list-style: none;
}
</style>
